#main-wrapper[data-layout="vertical"] .topbar .top-navbar .navbar-header {
  transition: 0.2s ease-in;
}
#main-wrapper[data-layout="vertical"][data-sidebartype="full"] .page-wrapper {
  margin-left: 260px;
}
#main-wrapper[data-layout="vertical"][data-sidebartype="iconbar"]
  .page-wrapper {
  margin-left: 180px;
}
#main-wrapper[data-layout="vertical"][data-sidebartype="iconbar"]
  .navbar-brand
  .logo-text {
  display: none;
}
#main-wrapper[data-layout="vertical"][data-sidebartype="iconbar"] .left-sidebar,
#main-wrapper[data-layout="vertical"][data-sidebartype="iconbar"]
  .left-sidebar
  .sidebar-footer,
#main-wrapper[data-layout="vertical"][data-sidebartype="iconbar"]
  .topbar
  .top-navbar
  .navbar-header {
  width: 180px;
}
#main-wrapper[data-layout="vertical"][data-sidebartype="iconbar"]
  .sidebar-nav
  ul
  .sidebar-item {
  width: calc(180px - 30px);
}
#main-wrapper[data-layout="vertical"][data-sidebartype="iconbar"]
  .sidebar-nav
  ul
  .sidebar-item
  .first-level {
  padding-left: 0;
}
#main-wrapper[data-layout="vertical"][data-sidebartype="iconbar"]
  .sidebar-nav
  ul
  .sidebar-item
  .sidebar-link {
  display: block;
  white-space: nowrap;
  text-align: center;
}
#main-wrapper[data-layout="vertical"][data-sidebartype="iconbar"]
  .sidebar-nav
  ul
  .sidebar-item
  .sidebar-link
  i {
  display: block;
  width: auto;
}
#main-wrapper[data-layout="vertical"][data-sidebartype="overlay"]
  .topbar
  .top-navbar
  .navbar-header {
  width: 260px;
}
#main-wrapper[data-layout="vertical"][data-sidebartype="overlay"]
  .left-sidebar {
  left: -260px;
}
#main-wrapper[data-layout="vertical"][data-sidebartype="overlay"].show-sidebar
  .left-sidebar {
  left: 0;
}
#main-wrapper[data-layout="vertical"][data-sidebar-position="fixed"]
  .topbar
  .top-navbar
  .navbar-header {
  position: fixed;
  z-index: 10;
}
#main-wrapper[data-layout="vertical"][data-sidebar-position="fixed"]
  .left-sidebar {
  position: fixed;
}
#main-wrapper[data-layout="vertical"][data-header-position="fixed"] .topbar {
  position: fixed;
  width: 100%;
}
#main-wrapper[data-layout="vertical"][data-header-position="fixed"]
  .page-wrapper {
  padding-top: 70px;
}
#main-wrapper[data-layout="vertical"][data-boxed-layout="boxed"] {
  position: relative;
  max-width: 1300px;
  margin: 0 auto;
  box-shadow: 1px 0 80px rgba(0, 0, 0, 0.2);
}
#main-wrapper[data-layout="vertical"][data-boxed-layout="boxed"][data-header-position="fixed"]
  .topbar {
  max-width: 1300px;
}
@media (min-width: 768px) {
  #main-wrapper[data-layout="vertical"][data-sidebar-position="fixed"][data-header-position="fixed"]
    .topbar {
    backdrop-filter: saturate(180%) blur(5px);
  }
  #main-wrapper[data-layout="vertical"][data-sidebartype="full"]
    .topbar
    .top-navbar
    .navbar-header {
    width: 260px;
  }
  #main-wrapper[data-layout="vertical"][data-sidebartype="full"]
    .topbar
    .top-navbar
    .navbar-header
    .navbar-brand {
    width: 260px;
  }
  #main-wrapper[data-layout="vertical"][data-sidebar-position="fixed"][data-sidebartype="full"]
    .topbar
    .top-navbar
    .navbar-collapse,
  #main-wrapper[data-layout="vertical"][data-sidebar-position="fixed"][data-sidebartype="overlay"]
    .topbar
    .top-navbar
    .navbar-collapse {
    margin-left: 260px;
  }
  #main-wrapper[data-layout="vertical"][data-sidebar-position="fixed"][data-sidebartype="mini-sidebar"]
    .topbar
    .top-navbar
    .navbar-collapse {
    margin-left: 65px;
  }
  #main-wrapper[data-layout="vertical"][data-sidebar-position="fixed"][data-sidebartype="iconbar"]
    .topbar
    .top-navbar
    .navbar-collapse {
    margin-left: 180px;
  }
  #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"]
    .topbar
    .top-navbar
    .navbar-header {
    width: 65px;
  }
  #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"]
    .topbar
    .top-navbar
    .navbar-header
    .logo-text {
    display: none;
  }
  #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"]
    .topbar
    .top-navbar
    .navbar-header.expand-logo {
    width: 260px;
  }
  #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"]
    .topbar
    .top-navbar
    .navbar-header.expand-logo
    .logo-text {
    display: block;
  }
  #main-wrapper[data-layout="vertical"][data-sidebar-position="fixed"][data-sidebartype="mini-sidebar"]
    .topbar
    .top-navbar
    .navbar-collapse {
    margin-left: 65px;
  }
  #main-wrapper[data-layout="vertical"][data-sidebar-position="fixed"][data-sidebartype="stylish"],
  #main-wrapper[data-layout="vertical"][data-sidebartype="stylish"] {
    background-color: #f6f8fb;
  }
  #main-wrapper[data-layout="vertical"][data-sidebar-position="fixed"][data-sidebartype="stylish"]
    .page-wrapper,
  #main-wrapper[data-layout="vertical"][data-sidebartype="stylish"]
    .page-wrapper {
    background-color: #f6f8fb;
    margin-left: calc(260px + 30px);
  }
  #main-wrapper[data-layout="vertical"][data-sidebar-position="fixed"][data-sidebartype="stylish"]
    .card,
  #main-wrapper[data-layout="vertical"][data-sidebartype="stylish"] .card {
    border: 0;
    box-shadow: 0 2px 2.5px rgba(193, 202, 215, 0.25);
  }
  #main-wrapper[data-layout="vertical"][data-sidebar-position="fixed"][data-sidebartype="stylish"]
    .left-sidebar,
  #main-wrapper[data-layout="vertical"][data-sidebartype="stylish"]
    .left-sidebar {
    left: 30px;
    margin-top: calc(70px + 30px);
    border-radius: 20px;
    padding-top: 20px;
    border-right: 0;
  }
  #main-wrapper[data-layout="vertical"][data-sidebar-position="fixed"][data-sidebartype="stylish"]
    .left-sidebar
    .sidebar-footer,
  #main-wrapper[data-layout="vertical"][data-sidebartype="stylish"]
    .left-sidebar
    .sidebar-footer {
    border-right: 0;
  }
  #main-wrapper[data-layout="vertical"][data-sidebar-position="fixed"][data-sidebartype="stylish"]
    .left-sidebar
    .nav-small-line,
  #main-wrapper[data-layout="vertical"][data-sidebartype="stylish"]
    .left-sidebar
    .nav-small-line {
    background-color: transparent !important;
  }
  #main-wrapper[data-layout="vertical"][data-sidebar-position="fixed"][data-sidebartype="stylish"]
    .navbar-collapse,
  #main-wrapper[data-layout="vertical"][data-sidebartype="stylish"]
    .navbar-collapse {
    margin-left: 260px;
  }
  #main-wrapper[data-layout="vertical"][data-sidebar-position="fixed"][data-sidebartype="stylish"]
    .navbar-header,
  #main-wrapper[data-layout="vertical"][data-sidebartype="stylish"]
    .navbar-header {
    width: 260px;
  }
  #main-wrapper[data-layout="vertical"][data-sidebar-position="fixed"][data-sidebartype="stylish"]
    .left-sidebar,
  #main-wrapper[data-layout="vertical"][data-sidebartype="stylish"]
    .left-sidebar {
    height: calc(100vh - 175px);
  }
  #main-wrapper[data-layout="vertical"][data-sidebar-position="fixed"][data-sidebartype="stylish"]
    .left-sidebar
    .sidebar-footer,
  #main-wrapper[data-layout="vertical"][data-sidebartype="stylish"]
    .left-sidebar
    .sidebar-footer {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    bottom: 30px;
  }
  #main-wrapper[data-layout="vertical"][data-sidebar-position="fixed"][data-sidebartype="stylish"]
    .sidebar-nav
    ul
    .nav-small-cap,
  #main-wrapper[data-layout="vertical"][data-sidebartype="stylish"]
    .sidebar-nav
    ul
    .nav-small-cap {
    padding: 14px;
  }
  #main-wrapper[data-layout="vertical"][data-sidebar-position="fixed"][data-sidebartype="stylish"]
    .sidebar-nav
    ul
    .nav-small-cap
    .nav-small-line,
  #main-wrapper[data-layout="vertical"][data-sidebartype="stylish"]
    .sidebar-nav
    ul
    .nav-small-cap
    .nav-small-line {
    margin-left: -34px;
  }
  #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"]
    .page-wrapper {
    margin-left: 65px;
  }
  #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"]
    .topbar
    .top-navbar
    .navbar-header
    .navbar-brand {
    padding: 0 15px;
    justify-content: center;
  }
  #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"]
    .logo-icon {
    margin-right: 0;
  }
  #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"]
    .sidebar-nav
    ul {
    padding: 7px;
  }
  #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"]
    .sidebar-nav
    .has-arrow:after,
  #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"]
    .sidebar-nav
    .hide-menu {
    display: none;
  }
  #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"]
    .sidebar-nav
    .nav-small-cap {
    justify-content: center;
    padding: 14px 14px 14px 14px;
  }
  #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"]
    .sidebar-nav
    .nav-small-cap
    i {
    display: block;
    margin-left: unset;
  }
  #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"]
    .sidebar-nav
    .nav-small-cap
    .nav-small-line {
    margin-left: 5px;
  }
  #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"]
    .sidebar-nav
    ul
    .sidebar-item
    .sidebar-link {
    padding: 14px 12px;
    justify-content: center;
  }
  #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"]
    .sidebar-nav
    ul
    .sidebar-item
    .sidebar-link
    .feather,
  #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"]
    .sidebar-nav
    ul
    .sidebar-item
    .sidebar-link
    i {
    margin-left: 0;
    margin-right: 0;
  }
  #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"]
    .sidebar-nav
    ul
    .sidebar-item
    .first-level {
    padding: 0 0 10px;
  }
  #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"]
    .sidebar-nav
    ul
    .sidebar-item
    .first-level
    .sidebar-item
    .sidebar-link {
    padding: 10px 12px;
  }
  #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"]
    .sidebar-nav
    ul
    .sidebar-item
    .first-level
    .sidebar-item
    .sidebar-link
    i {
    display: block;
  }
  #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"]
    .topbar
    .top-navbar
    .navbar-header.expand-logo
    .navbar-brand {
    padding: 0 35px;
    justify-content: start;
  }
  #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"]
    .topbar
    .top-navbar
    .navbar-header.expand-logo
    .navbar-brand
    .logo-icon {
    margin-right: 5px;
  }
  #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"]
    .left-sidebar {
    width: 65px;
  }
  #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"]
    .left-sidebar
    .scroll-sidebar {
    height: calc(100vh - 50px);
  }
  #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"]
    .left-sidebar
    .sidebar-footer {
    display: none;
  }
  /* #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"]
    .left-sidebar:hover {
    width: 260px;
  }
  #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"]
    .left-sidebar:hover
    .scroll-sidebar {
    height: calc(100vh - 250px);
  }
  #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"]
    .left-sidebar:hover
    .sidebar-nav
    .has-arrow:after,
  #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"]
    .left-sidebar:hover
    .sidebar-nav
    .hide-menu {
    display: block;
  }
  #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"]
    .left-sidebar:hover
    .sidebar-nav
    .nav-small-cap {
    justify-content: flex-start;
  }
  #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"]
    .left-sidebar:hover
    .sidebar-nav
    .nav-small-cap
    i {
    display: block;
  }
  #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"]
    .left-sidebar:hover
    .sidebar-nav
    ul {
    padding: 0 20px;
  }
  #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"]
    .left-sidebar:hover
    .sidebar-nav
    ul
    .nav-small-cap
    .nav-small-line {
    margin-left: -18px;
  }
  #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"]
    .left-sidebar:hover
    .sidebar-nav
    ul
    .sidebar-item
    .sidebar-link {
    padding: 11px 12px;
    justify-content: flex-start;
  }
  #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"]
    .left-sidebar:hover
    .sidebar-nav
    ul
    .sidebar-item
    .sidebar-link
    .feather,
  #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"]
    .left-sidebar:hover
    .sidebar-nav
    ul
    .sidebar-item
    .sidebar-link
    i {
    margin-left: 8px;
    margin-right: 15px;
  }
  #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"]
    .left-sidebar:hover
    .sidebar-nav
    ul
    .sidebar-item
    .first-level {
    padding: 10px 0 0 5px;
  }
  #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"]
    .left-sidebar:hover
    .sidebar-nav
    ul
    .sidebar-item
    .first-level
    .sidebar-item
    .sidebar-link {
    padding: 10px 35px 10px 15px;
  }
  #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"]
    .left-sidebar:hover
    .sidebar-nav
    ul
    .sidebar-item
    .first-level
    .sidebar-item
    .sidebar-link
    i {
    margin-left: 0;
    display: inline-block;
  }
  #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"]
    .left-sidebar:hover
    .sidebar-footer {
    display: flex;
  } */
}
@media (max-width: 767px) {
  #main-wrapper[data-sidebartype="mini-sidebar"] .left-sidebar,
  #main-wrapper[data-sidebartype="mini-sidebar"] .left-sidebar .sidebar-footer {
    left: -260px;
  }
  #main-wrapper.show-sidebar .left-sidebar,
  #main-wrapper.show-sidebar .left-sidebar .sidebar-footer {
    left: 0;
  }
  #main-wrapper[data-layout="vertical"][data-header-position="fixed"][data-sidebar-position="fixed"]
    .topbar
    .top-navbar
    .navbar-collapse,
  #main-wrapper[data-layout="vertical"][data-sidebar-position="fixed"]
    .topbar
    .top-navbar
    .navbar-collapse {
    position: relative;
    top: 70px;
  }
  .left-part {
    position: fixed;
    left: -260px;
    background: #fff;
    z-index: 1;
    transition: 0.1s ease-in;
  }
  .left-part.show-panel {
    left: 0;
  }
  .reverse-mode .left-part {
    right: -260px;
    left: auto;
  }
  .reverse-mode .left-part.show-panel {
    right: 0;
  }
  .right-part {
    width: 100%;
    margin-left: 0;
  }
}
